<div class="todo-container">
  <h1 class="todo-title">Todo List</h1>

  

  <div *ngIf="todos$ | async as todos">
    <div *ngIf="todos.length === 0">
      No todos yet.
    </div>

    <ul>
      <li *ngFor="let todo of todos">
        <strong>{{ todo.title }}</strong> - {{ todo.status }}

        <!-- 🔥 NOTE: todo.id! to force it to string -->
           <div class="action-buttons">
    <button class="btn-edit" (click)="edit(todo.id!)"> ✏️ Edit</button>
    <button class="btn-delete" (click)="delete(todo.id!)">🗑️ Delete</button>
  </div>

      </li>
    </ul>
  </div>
</div>

